@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: "Poppins", sans-serif;
	}
}

:root {
	--dark: #1b1e24;
	--extraDark: #121418;
	--darkGreen: #095f59;
	--paleGreen: #0c766f;
	--paleBrown: #ffd681;
	--palePurple: #c89aff;
	--paleRed: #fa7565;
	--paleBlue: #4b9fff;
}

.dark {
	@apply bg-dark text-zinc-50 border-white/80;
}

.light {
	@apply text-dark bg-zinc-50 border-dark;
}

.light .foot-hub,
.light .filter {
	@apply bg-dark text-zinc-50;
}
.dark .foot-hub,
.dark .filter {
	@apply text-dark bg-zinc-50;
}

.logo-circle {
	animation: scaleCircle 2s infinite alternate;
}

.filter-item {
	@apply capitalize w-max opacity-80 cursor-pointer;
}

.dark .project {
	@apply text-zinc-50 bg-white/10;
}
.light .project {
	@apply bg-dark/10 text-dark;
}

.work-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.project {
	flex: 1 1 1;
	height: 200px;
	width: 100%;
	cursor: zoom-in;
}
@media screen and (min-width: 480px) {
	.project {
		width: 200px;
	}
}
@media screen and (min-width: 700px) {
	.project {
		width: 300px;
		height: 300px;
	}
}

.box {
	@apply rounded-xl;
}

/* .parent-grid {
	display: flex;
}
@media screen and (min-width: 768px) {
	.parent-grid {
	}
}

.child-box {
	height: 100%;
} */
